<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/style.css" rel="stylesheet">
      <script
      src='https://unpkg.com/htmx.org@1.9.10'
      integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC'
      crossorigin='anonymous'
    >
    </script>
    <title>Authorized</title>
  </head>
  <body>
    <button class="bg-red-900 text-white">
      Click me
    </button>
    <p class="text-blue-900">
      Doing something here
    </p>
  </body>
</html>